//color
$main-color:#0096FF;
// $main-color:#88A6F7;
$main-text-color:#4a4a4a;
$main-text-color-2:#838383;
$placeholder-text-color:#c0c4cc;


// 导航高亮颜色
$nav-active-color:#FF7E79;
//bgc

//font size
$font-size-base: 16px;
$font-size-m: $font-size-base + 2;
$font-size-l: $font-size-base + 2;

//size
$navbar-height: 60px;

// $label-color:#909399;
// $form-color: #606266;

// 表单控件主要颜色
// $dim-bg-c:#f5f7fa;
// $dim-border-c:#e4e7ed;
$label-color:rgba(0,0,0,0.54);
// $dim-color:#56585f;
//  color #606266
// border #dcdfe6